@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* LOADER */
/* LOADER */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/*Text Loading */
.loding {
    display: block;
    position: relative;
    top: 13%;
    font-size: 50px;
    font-family: Brush Script Std;
    text-align: center;
    color: blue;
    z-index: 1001;
    animation: mymove 1.5s infinite alternate;
}

@keyframes mymove {
    0% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

#loader {
    display: block;
    position: relative;
    left: 49%;
    top: 20%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -75px 0 0 -75px;
    border: 5px solid transparent;
    border-top-color: #3498db;
    border-bottom-color: #3498db;
    z-index: 1001;
    animation: spin 1s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 5px solid transparent;
    border-radius: 50%;
    border-left-color: #e74c3c;
    border-right-color: #e74c3c;
    z-index: 1001;
    animation: spin 0.5s ease-in-out infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #f9c922;
    border-bottom-color: #f9c922;
    z-index: 1001;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

/*Background Section Animation*/
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}


#loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loader h2 {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

/* FILE INDEX */
/* NAVBAR */
.navigation {
    height: 80px;
    background: linear-gradient(-90deg, #4199fe, #74b4fe);
    z-index: 9;
}

.brand {
    position: absolute;
    float: left;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-left: 10px;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

.nav-container {
    justify-content: space-between;
}

nav {
    float: right;
    padding-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #262626;
    text-decoration: none;
}

nav ul li a {
    background: transparent;
    color: #FFF;
}

nav ul li a:hover,
nav ul li a:visited:hover:not(.btn-cta) {
    background: #2581DC;
    color: #ffffff;
}

.navbar-dropdown li a {
    background: #2581DC;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';

}

nav ul li ul li {
    min-width: 190px;

}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.navbar-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}

/* ANIMATION Navbar */
#header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    transition: top .3s ease;
}

#header.show {
    top: -90px;
}

.btn-cta {
    background-color: #478ac9;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    transition: all .5s;
    margin-left: 10px;
    margin-right: 30px;
}

.btn-cta:hover {
    background-color: #635985;
    color: black;

}

/* FIRST CONTENT */
/* PARALLAX */
.parallax {
    width: 100%;
    height: 100vh;
}

.intro {
    background-image: url('img/7.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* CONTENT KEDUA  */
/* SEJARAH */
.sejarah {
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: justify;
    background-color: #79a2d1;
    margin-bottom: 20px;
}

.wrap h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

.wrap p {
    font-family: 'open-sans', sans-serif;
    font-size: 15px;
    text-indent: 40px;
    font-weight: bold;
}

.wrap {
    width: 60%;
    margin: auto;
}

/* CONTENT KETIGA */
/* YOUTUBE */
.profile {
    text-align: center;
}

iframe {
    border-radius: 15px;
}

/* CONTENT KEEMPAT */
/* STRUKTUR */
.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 80px;
    margin-top: 100px;
}

.cdn {
    width: 50%;
    margin: auto;
    text-align: justify;
}

.cdn h2 {
    font-size: 28px;
    font-weight: bold;
}

.cdn h4 {
    font-weight: bold;
    font-size: 20px;
}

.cdn p {
    text-indent: 40px;
    margin-bottom: 30px;
}

.gambar {
    width: 420px;
}

.gambar img {
    border-radius: 25px;
    width: 400px;
}

.accordion-item button {
    font-weight: bold;
    font-size: 20px;
}

/* CONTENT KELIMA */
/* CAROUSEL CARD */
#carouselExample {
    padding-top: 8px;
}

.title_car {
    font-size: 25px;
    font-weight: bold;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/* CONTENT KEENAM */
/* MEDIA SOSIAL */
.wrap_6 i {
    width: 50px;
    margin-bottom: 30px;
}

/* FOOTER */
.poter {
    background-color: #40513B;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    color: white;
    margin-top: 100px;
}

/* FILE EKSKUL */
/* FILE EKSKUL */



/* FILE JURUSAN */
/* FILE JURUSAN */
/* FILE JURUSAN */

/* FILE JURUSAN // CONTENT PERTAMA */
.list_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-jurusan {
    padding-left: 80px;
    padding-top: 50px;
    
}
.wrap_list {
    padding-bottom: 100px;
}

.container-jurusan h2 {
    font-size: 40px;
}

.explan_jrs {
    margin: 20px 0 0 20px;
    width: 50%;
    text-align: justify;
    padding: 20px;
    padding-right: 50px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.explan_jrs h3 {
    font-size: 25px;
}

.explan_jrs p {
    font-size: 15px;
}
.container_jrs {
    margin-right: 100px;
    margin: auto;
}
.card_jrs {
    height: auto; 
    grid-column: span 8;
    margin: 10px 0px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    width: 350px;
}

.head-card-jrs img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.body-card-jrs {
    padding: 10px 15px;
}

.body-card-jrs a {
    text-decoration: none;
}

.body-card-jrs svg {
    width: 31px;
    position: absolute;
    bottom: 7px;
    right: 20px;
}


/* FILE JURUSAN/BUTTON */
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}


/* RESPONSIVE */
/* RESPONSIVE */
@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}

@media screen and (max-width: 1100px) {
    iframe {
        width: 500px;
        height: 300px;
    }
}


@media screen and (max-width: 880px) {
    .image {
        margin-right: 80px;
    }

    .cdn {
        width: 100%;
    }

    .cdn h2,
    .gambar {
        text-align: center;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 820px) {
    .list_1 {
        margin-right: 100px;
    }
    .explan_jrs {
        width: 100%;
    }
    .card_jrs {
        width: 100%;
    }
    .container_jrs {
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    iframe {
        width: 300px;
        height: 200px;
    }

    .gambar img {
        width: 250px;
    }

    .wrap {
        width: 100%;
        padding: 20px;
    }
    .list_1 {
        margin: 0;

    }
    .container-jurusan {
        padding: 0;
    }
    .container-jurusan h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 980px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 80px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 20px;
        line-height: 20px;
        background: #262626;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .navbar-dropdown {
        position: static;
    }

    .btn-cta {
        margin: 0;
        text-align: center;
    }

    @media screen and (min-width:980px) {
        .nav-list {
            display: block !important;
        }
    }

    #navbar-toggle {
        position: absolute;
        left: 18px;
        top: 25px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }

    #navbar-toggle span,
    #navbar-toggle span:before,
    #navbar-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 30px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    #navbar-toggle span:before {
        top: -10px;
    }

    #navbar-toggle span:after {
        bottom: -10px;
    }

    #navbar-toggle.active span {
        background-color: transparent;
    }

    #navbar-toggle.active span:before,
    #navbar-toggle.active span:after {
        top: 0;
    }

    #navbar-toggle.active span:before {
        transform: rotate(45deg);
    }

    #navbar-toggle.active span:after {
        transform: rotate(-45deg);
    }
}